
<div id="carouselExampleControls" class="carousel slide m-5" data-bs-ride="carousel">
    <div class="carousel-inner rounded-5">
     <a href="#content_section">
          <div class="carousel-item active">
            <a><img src="https://www.pacificmalls.in/dwarka/images/offers-banner/offers-eoss-d21-banner.jpg" class="d-block w-100" alt="banner image not found" ></a>
          </div>
          <div class="carousel-item">
            <img src="https://marketplace.canva.com/EAFT4iBtkRY/1/0/1600w/canva-beige-brown-minimalist-casual-style-banner-landscape-ZXRUHYBCsCU.jpg" class="d-block w-100" alt="banner image not found">
          </div>
          <div class="carousel-item">
            <img src="https://marketplace.canva.com/EAFGKRRskMs/1/0/1600w/canva-brown-and-beige-minimalist-fashion-banner-lYcbGpUSVGo.jpg" class="d-block w-100" alt="banner image not found">
          </div>
     </a>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<!-- </div>
</header> -->

<!-- <pre>
{{allProducts | json}}
</pre> -->

<!-- Section-->
<section class="py-5" id="content_section">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-3 justify-content-center">
            <div class="col mb-5 " *ngFor="let product of allProducts | filter:searchTerm:'title'">
                <div class="card h-100 align-items-center ">
                    <!-- Product image-->
                    <img class="card-img-top p-3" [src]="product.image" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{product.title}}</h5>
                            <!-- Product price-->
                            ${{product.price}}
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div (click)="addToCart(product)" class="card-footer p-4 pt-0 border-top-0 bg-transparent">                        
                        <button class="btn btn-outline-success rounded-5 shadow me-5" style="text-decoration: none; color: grey;">
                            Cart<i class="fa-solid fa-arrow-right"></i>
                        </button>


                        <button (click)="addToWishlist(product)" style="float: right;" class="btn btn-outline-danger shadow rounded-5">
                            <i class="fa-solid fa-heart"></i>
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>