<!-- cart empty -->
<div style="min-height: 100vh;">
    <div class="container mt-5" *ngIf="eMsg" id="empty-wishlist" >
        <div class="row text-center" style="margin-top: 4.5rem;">
            <div class="col">
                <img class="img-fluid" src="https://cakefactory24x7.com/bakery/images/emty.gif" alt="Image not found">
                <h3 class="mt-5">oops ! Nothings here.</h3>
                <button class="btn btn-success" routerLink="">
                    Get now
                </button>
            </div>
        </div>
    </div>
    
    <section  style="margin-top: 10rem;">
        <div class="container px-4 px-lg-5 mt-5" >
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-3 justify-content-center">
                <div class="col mb-5 " *ngFor="let product of wishList">
                    <div class="card h-100 align-items-center ">
                        <!-- Product image-->   
                        <img class="card-img-top p-3" [src]="product.image" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">{{product.title}}</h5>
                                <!-- Product price-->
                                ${{product.price}}
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">                        
                            <button (click)="addToCart(product)" class="btn btn-outline-success rounded-5 shadow me-5" style="text-decoration: none; color: grey;">
                                Cart<i class="fa-solid fa-arrow-right"></i>
                            </button>
    
    
                            <button (click)="deleteFromWishlit(product)" style="float: right;" class="btn btn-outline-danger shadow rounded-5">
                                <i class="fa-solid fa-trash"></i>
                            </button>
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>